@page
@model Memory.Pages.PartieDB.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Partie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Partie.NumberCards)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Partie.NumberCards)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Partie.StateGame)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Partie.StateGame)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Partie.TournToPlay)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Partie.TournToPlay)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Partie.CreateAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Partie.CreateAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Partie.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
